<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/books">Home</a>
    <a href="/logout">Logout</a>

    <div id = "reviews">
        <h1>{{ book.title }}</h1>
        <h3>Author: {{ book.author.name }}</h3>
        <p><h3>Reviews</h3></p>
        {% for i in all_reviews %}
            <p>Rating: {{ i.rating }}</p>
            <p><a href="/users/{{ i.user.id }}">{{ i.user.first_name }}</a> says: {{ i.content }}</p>
            <p>Posted on {{ i.created_at }}</p>
        {% endfor %}
    </div>
    <div id="add_review">
        <form action="/books/proccess/{{ book.id }}" method="post">
            {% csrf_token %}
            Add a review: 
            <br>
            <textarea name="add_review" id="add_review"></textarea>
            <br>
            Rating: <select name="rating" id="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select> stars
            <input type="submit" value="Submit review">
        </form>
    </div>
</body>
</html>